@media(max-width: 1200px) {

  .news-wrap,
  .news-info {
    flex-wrap: wrap;
  }
}

@media(max-width: 1024px) {

  .header {
    flex-direction: column;
    justify-content: center;
    row-gap: 25px;
  }

  .nav-main {
    flex-direction: column;
    row-gap: 25px;
    justify-content: center;
  }

  .header__logo {
    order: 1;
  }

  .nav-main__list {
    gap: 0 20px;
    order: 2;
  }

  .header-action {
    gap: 0 20px;
    margin-left: 0;
    order: 3;
  }

  .banner {
    justify-content: center;
  }

  .banner-info {
    text-align: center;
  }

  .banner__btn {
    margin: 0 auto;
  }

  .banner__header {
    font-size: 48px;
  }

  .features {
    justify-content: center;
    flex-wrap: wrap;
  }

  .testimonial-wrap {
    flex-direction: column;
  }
}

@media(max-width: 900px) {
  .history-wrap {
    display: flex;
    flex-direction: column;
  }

  .history {
    order: 1;
  }

  .section-subtitle {
    font-size: 26px;
  }

  .section-main {
    padding-bottom: 70px;
  }

  .line-height {
    line-height: 1;
  }

  .discover-wrap {
    flex-direction: column;
  }

  .menu-wrap {
    flex-direction: column;
  }

  .menu {
    width: 100%;
  }

  .reservation {
    width: 100%;
  }

  .reservation-wrap {
    flex-direction: column;
  }

  .reservation-map {
    display: none;
  }

  .news-wrap,
  .news-info {
    justify-content: center;
  }

  .footer {
    row-gap: 25px;
    justify-content: center;
  }

  .footer-form {
    margin: 0;
  }
}

@media(max-width: 768px) {
  .menu {
    flex-direction: column;
    justify-content: center;
  }

  .menu-price {
    margin-left: 0;
  }

  .footer-list {
    gap: 20px;
  }
}

@media(max-width: 600px) {

  .banner {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .banner-video__btn {
    display: none;
  }

  .features {
    padding-top: 70px;
    row-gap: 20px;
  }

  .features__item,
  .features__item-dark {
    font-size: 16px;
  }

  .features__item-img {
    margin-top: 10px;
  }

  .popular {
    padding: 38px 25px 11px 13px;
  }

  .rating {
    flex-direction: column;
    gap: 0 7px;
  }

  .discover__text {
    display: none;
  }

  .discover__title {
    text-align: center;
  }

  .discover__link {
    max-width: 131px;
  }

  .section-subtitle {
    font-size: 24px;
  }

  .discover__link {
    font-size: 14px;
  }

  .btn-primary {
    font-size: 20px;
  }

  .popular__link {
    max-width: 175px;
  }

  .history {
    padding: 25px 4px;
  }

  .testimonial-data,
  .testimonial-info {
    flex-direction: column;
    justify-content: center;
  }

  .reservation__btn {
    max-width: 130px;
  }

  .footer {
    flex-direction: column;
  }

  .footer-form {
    width: 100%;
  }

  .footer-list {
    flex-direction: column;
  }
}
